<div class="container">
    <div class="justify-content-center">
      <div class="col-md-4 col-lg-12">
        <h3>Sobre o projeto</h3>
        <br/>
        <p>
          O pequeno projeto tem como objetivo realizar um caso de teste para deploy na plataforma Heroku e enriquecer o portifólio.
        </p>

        <br />
        <p class="autor">By: 
          <a href="https://www.linkedin.com/in/arthur-oliveira-a8b94a2a/" target="_blank">Arthur Lima Oliveira</a>
        </p>
      </div>
    </div>
  </div>

